[submodule "thirdparty/openvr"]
	path = thirdparty/openvr
	url = https://github.com/ValveSoftware/openvr.git
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "thirdparty/Configuru"]
	path = thirdparty/Configuru
	url = https://github.com/emilk/Configuru.git
[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "thirdparty/fast-cpp-csv-parser"]
	path = thirdparty/fast-cpp-csv-parser
	url = https://github.com/ben-strasser/fast-cpp-csv-parser.git
[submodule "thirdparty/LuaBridge3"]
	path = thirdparty/LuaBridge3
	url = https://github.com/kunitoki/LuaBridge3.git
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdparty/imnodes"]
	path = thirdparty/imnodes
	url = https://github.com/Nelarius/imnodes.git
[submodule "thirdparty/fast_obj"]
	path = thirdparty/fast_obj
	url = https://github.com/thisistherk/fast_obj.git
[submodule "thirdparty/IXWebSocket"]
	path = thirdparty/IXWebSocket
	url = https://github.com/MikanXR/IXWebSocket.git
[submodule "thirdparty/readerwriterqueue"]
	path = thirdparty/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue.git
[submodule "thirdparty/nlohmann_json"]
	path = thirdparty/nlohmann_json
	url = https://github.com/nlohmann/json.git
