# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Deep Neural Network Models
*.pt
*.onnx

# Executables
*.exe
*.out
*.app

# Releases
*.zip

# Build directories
build*
dist*
!OBJ-loader
!resources/models/*/*.obj

# Third Party
!thirdparty/lua/*.lib
!thirdparty/lua/*.dll

# Auto-downloaded Dependencies
deps

#vscode
.vs

#Mikan
imgui.ini
MikanXR.log
!src/Object

#Tools
!tools/*/*.exe